/* CSS Document */

.add-affi {
	  padding: 20px;
}

.add-affi label{
	width: 116px;
	 float: left;
}

.add-affi .fonm-field{
	padding: 3px 0px 3px 0px;
}

.smtp label{
	width: 149px;
}

.butt {
  padding: 2px 16px 4px 16px;
  font-size: 10px;
/*  border-radius: 15px;*/
  text-decoration: none;
  color: #fff;
}

.red-button {
	background-color: #AB1111;
	
}

.green-button {
	background-color: #106718;	
}
button.butt {
  padding: 2px 20px 2px 20px;
  font-size: 12px;
  border: 1px solid #D2D2D2;
  /* border-radius: 15px; */
  text-decoration: none;
  color: #000;
}

button.red-button {
	background-color: #fff;
	
}

button.green-button {
	background-color: #fff;	
}
a:hover {
  color: #E5E5E5;
}
/*****By Amin Khan 09-06-2015 Start*******/
.kb_wait
{
	width: 4%;
}
/*****By Amin Khan 09-06-2015 End*******/