<div class="element">
<div id="55a5089491cdb" class="optin-box optin-box-6" style=" width: 600px;margin-right: auto;margin-left: auto;">
<div class="optin-box-content">

<form method="post" action="#">
<div class="text-box">
<input type="text" class="kb_textfeild" name="f_name" required="" value="" placeholder="First Name">
</div>
<div class="text-box">
<input type="text" class="kb_textfeild" name="l_name" required="" value="" placeholder="Last Name">
</div>
<div class="text-box">
<input type="email" class="kb_textfeild" name="e_mail" required="" value="" placeholder="Email">
</div>
<div class="text-box">
<input type="text" name="kb_username" value="" placeholder="Username">
</div>
<div class="text-box">
<input type="text" name="kb_password" value="" placeholder="Password">
</div>
<div class="text-box">
<input type="text" class="kb_textfeild" name="birth_day" id="MyDate" required="" value="" placeholder="Birthday">
</div>
<div class="text-box">
<input type="text" class="kb_textfeild" name="add" required="" value="" placeholder="Address">
</div>
<div class="text-box">
<input type="text" class="kb_textfeild" name="city" required="" value="" placeholder="City">
</div>
<div class="text-box">
<input type="text" class="kb_textfeild" name="state" required="" value="" placeholder="State">
</div>
<div class="text-box">
<input type="text" class="kb_textfeild" name="zip_code" required="" value="" placeholder="Zip Code">
</div>
<div class="text-box">
<input type="text" class="kb_textfeild" name="country" required="" value="" placeholder="Country">
</div>
<div class="text-box">
<input type="text" class="kb_textfeild" name="mobile_no" required="" value="" placeholder="Mobile No">
</div>
<input type="hidden" name="kb_sponcer" value="brianroberts" readonly="readonly">
<div class="">
<input type="submit" value="Save" name="add-affi" class="button button-primary">
<!--<button type="submit" name="add-affi" class="default-button"><span>Save</span></button>-->
</div>
</form>
<p class="privacy"><img src="http://truesavingsaccount.com/wp-content/themes/optimizePressTheme/lib/assets/images/optin_box/privacy.png" alt="privacy" width="16" height="15"/> We value your privacy and would never spam you</p> </div>
</div></div>